<script context="module">
	export function load({ error, status }) {
		return {
			props: {
				message: error.message,
                status: status
			}
		};
	}
</script>

<script>
	export let message
    export let status
    //console.log(status, message, message.split('Not found:')[1], '123') // 404 'Not found: /guides/1/23' ' /guides/1/23' '123'
</script>

<div class="error">
  <h2>Упс!</h2>
  <!--<p>{message}</p>-->
  {#if status === 404}
    <p>Не вдалося знайти сторінку: {message.split('Not found:')[1]}</p>
  {/if}
  <a href="/guides">Переглянути усі підручники</a>
</div>

<style>
  .error {
    text-align: center;
    margin-bottom: 60px;
  }
</style>