<script>
    //import Title from '$lib/title.svelte'
</script>

<!-- <Title title="Про нас" /> -->
<div class="about">
    <h2>Про нас</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore impedit fuga dolor iusto perspiciatis deleniti itaque? Quam repellat pariatur, vel deserunt, cumque dolore labore at quis explicabo debitis distinctio odio?</p>

    <a href="/">На головну</a>
</div>

<style>
    .about {
        display: block;
        text-align: center;
        margin: 20px auto;
    }
</style>