<script>
/*let title = 'Заголовок';
const updateTitle = () => {
    title = 'Новий заголовок';
}*/

// import Title from '$lib/title.svelte'

</script>

<!-- <Title title="Головна" /> -->
<div class="index">
    <h2>Головна</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur rem aliquid, labore asperiores consequuntur ullam nulla facere minus fuga dolorum. Maiores nobis quisquam sint. Incidunt laboriosam quia iusto nam harum.</p>

    <!--<button on:click="{updateTitle}">змінити заголовок</button>
    <input type="text" bind:value={title}>-->
    <p> 
        <a href="./guides">Усі підручники</a>
        <a href="./about">Про нас</a>
    </p>

</div>

<style>
    .index {
        display: block;
        text-align: center;
        margin: 20px auto;
    }
</style>