<script>
    import Title from '$lib/title.svelte'
    //import '../../styles/global.css'
</script>
<header>
    <nav>
        <Title title="Назва сайту" />
        <div class="links">
            <a href="/">На головну</a>
            <a href="/about">Про нас</a>
            <a href="/guides">Усі підручники</a>
        </div>
    </nav>
</header>
<main>
    <slot></slot>
</main>
<footer>
    <p>Copyright 2022 Назва сайту</p>
</footer>
<style>
    header {
        text-align: center;
        background: rgba(0,0,0,0.1)
    }
    main {
        max-width: 960px;
        margin: 20px auto;
    }
    footer {
        text-align: center;
    }
    nav {
        display: flex;
        align-items: center;
        max-width: 960px;
        margin: 0 auto;
    }
    .links {
        margin-left: auto;
    }
    a {
        margin-left: 10px;
    }
  </style>