<script context="module">
    export async function load({ fetch }) {
        const res = await fetch('https://jsonplaceholder.typicode.com/posts');
        const guides = await res.json();
        //console.log(guides);
        if (res.ok) {
            return {
                props: {
                    guides: guides
                }
            }
        }
        return {
            status: res.status,
            error: new Error('Не вдалося отримати')
        }
    }
</script>

<script>
    export let guides

    // import Title from '$lib/title.svelte'
</script>

<!-- <Title title="Підручники" /> -->
<div class="guides">
    <ul>
        <!--<li><a href="/">підручник 1</a></li>
        <li><a href="/">підручник 2</a></li>-->
        {#each guides as guide}
            <li>
                {guide.id} <a href={`/guides/${guide.id}`}>{guide.title}</a>
                <p>{guide.body}</p>
            </li>
        {/each}
    </ul>
</div>

<style>
    .guides {
        margin-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
        border: 1px dotted rgba(255,255,255,0.2);
    }
</style>